In [14]:
#set
#元素不可重複
citys = {"台北", "台中", "高雄","台北", "台中", "高雄"} #這樣算3個元素
citys

{'台中', '台北', '高雄'}

### list_comprehension(快速建立list)
[expression(運算式) for item in iterable]

In [20]:
[i*2 for i in range(1,11) if i % 2 == 1]

[2, 6, 10, 14, 18]

In [ ]:
#map() fliter()
students = [
    {"name": "Alice", "Chinese": 85, "English": 92, "Math": 78},
    {"name": "Bob", "Chinese": 75, "English": 88, "Math": 90},
    {"name": "Charlie", "Chinese": 90, "English": 85, "Math": 85},
    {"name": "David", "Chinese": 60, "English": 70, "Math": 80},
    {"name": "Eva", "Chinese": 95, "English": 98, "Math": 92},
    {"name": "Frank", "Chinese": 70, "English": 75, "Math": 68},
    {"name": "Grace", "Chinese": 88, "English": 82, "Math": 85},
    {"name": "Helen", "Chinese": 92, "English": 90, "Math": 94},
    {"name": "Ian", "Chinese": 78, "English": 80, "Math": 72},
    {"name": "Jane", "Chinese": 85, "English": 87, "Math": 89}
]

def chinses_greater(student):
    if student["Chinese"] > 80:
        return student
    else:
        return None
list(filter(chinses_greater, students))

[{'name': 'Alice', 'Chinese': 85, 'English': 92, 'Math': 78},
 {'name': 'Charlie', 'Chinese': 90, 'English': 85, 'Math': 85},
 {'name': 'Eva', 'Chinese': 95, 'English': 98, 'Math': 92},
 {'name': 'Grace', 'Chinese': 88, 'English': 82, 'Math': 85},
 {'name': 'Helen', 'Chinese': 92, 'English': 90, 'Math': 94},
 {'name': 'Jane', 'Chinese': 85, 'English': 87, 'Math': 89}]

In [26]:
list(filter(lambda student:student if student['Chinese'] >= 80 else None, students))

[{'name': 'Alice', 'Chinese': 85, 'English': 92, 'Math': 78},
 {'name': 'Charlie', 'Chinese': 90, 'English': 85, 'Math': 85},
 {'name': 'Eva', 'Chinese': 95, 'English': 98, 'Math': 92},
 {'name': 'Grace', 'Chinese': 88, 'English': 82, 'Math': 85},
 {'name': 'Helen', 'Chinese': 92, 'English': 90, 'Math': 94},
 {'name': 'Jane', 'Chinese': 85, 'English': 87, 'Math': 89}]

In [27]:
from dataclasses import dataclass

@dataclass
class Student:
    name:str
    chinese:int
    english:int
    math:int
#透過class Student建立實體
students:list[Student] = [Student(name="robert",chinese=98, english=76, math=89),
 Student(name="jenny",chinese=89,english=78,math=65)]

for student in students:
    print(student.name)
    print(student.chinese)
    print(student.math)
    print(student.english)
    print("==================")

robert
98
89
76
==================
jenny
89
65
78
==================