In [1]:
def menu(wine, entree, dessert):
    print(f'前酒{wine}')
    print(f'主餐{entree}')
    print(f'甜點{dessert}')

In [2]:
menu("白酒", "牛排", "蛋糕")
#混合呼叫 menu("白酒", dessert = "蛋糕", entree = "牛排") 引數值須按順序 引數名稱則不用

前酒白酒
主餐牛排
甜點蛋糕

In [ ]:
#**參數 會變成字典
def test(**args):
    print(args)

In [8]:
test(one = 1,two = 2, three = 4, four = 4, five = 5)

{'one': 1, 'two': 2, 'three': 4, 'four': 4, 'five': 5}

In [ ]:
#混合*與** #*agrs 變為tuple 
def mixed(*args, **kwargs):
    print(args)
    print(kwargs)

In [11]:
mixed("a", "b", 1, 2, one = 1 ,tow= 2)

('a', 'b', 1, 2)
{'one': 1, 'tow': 2}

In [4]:
weekdays = ("星期一", "二", "三", "四", "五", "六", "日")
weekdays
#tuple 不可變變數

('星期一', '二', '三', '四', '五', '六', '日')

In [ ]:
name, age, score = ("robert" , 35, 345)
name

'robert'